#react-chrome-app a {
  text-decoration-line: none;
}

#react-chrome-app .grid {
  display: grid;
}


#react-chrome-app button {
  text-decoration-line: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#react-chrome-app {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
